.worab {
    width: 80%;
    margin: 0px auto;
}

.nav {
    /* height: 60px; */
    background-color: black;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 70px;
    padding: 1px;
}

.feeds {
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
}

.main>div {
    display: flex;
    justify-content: space-between;
}

.Mleft {
    flex: 1;
    align-items: center;
}

.avatar{
    display: block;
    border: black 3px solid;
    height: 300px;
    width: 200px;
    align-items: center;
    margin-top: 30px;

}

.img{
    width: 100px;
margin: 50px;
}

.avaterData{
text-align: center;
margin: -30px;
font-size: larger;
}

.Mright {
    flex: 3;
}

.postes{
    border: black 3px solid;
    margin: 30px ;
    padding: 25px;
}

.toppost {
    display: flex;
justify-content: space-between;
/* margin: 20px; */
font-size: large;
}
.toppost > p{
    font-size: larger;
}

.mainpost{
    font-size: larger;
}

button {
    background-color: goldenrod;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    box-shadow: black 4px 4px;
}
